#!/bin/bash

package_metadata() {
	echo $(luet tree pkglist --tree ./ --output json | jq -r '.[] | map( "https://get.mocaccino.org/mocaccino-aports/"+.name+"-"+.category+"-"+.version+".metadata.yaml" )  ')
}

check_if_package_exists() {
	for i in $(luet tree pkglist --tree ./ --output json | jq -rc '.[][]' ); do

		name=$(echo $i | jq -r '.name' )
		category=$(echo $i | jq -r '.category' )
		version=$(echo $i | jq -r '.version' )
		url="https://get.mocaccino.org/mocaccino-aports/${name}-${category}-${version}.metadata.yaml"
	
	
		if (($(curl --silent -I $url \
		| grep -E "^HTTP" \
		| awk -F " " '{print $2}') == 200)); then
			echo "$category/$name @ $version is available at $url"
		else 
			echo "NOT available $category/$name @ $version ($url)"
		fi

	done
}

generate_kube() {
	local template=$1

	set -x
	if [ -z "$template" ]; then;
		echo "Need to specify at least a template"
		return
	fi

	mkdir kube_tasks

	for i in $(luet tree pkglist --tree ./ --output json | jq -rc '.[][]' ); do
		name=$(echo $i | jq -r '.name' )
		category=$(echo $i | jq -r '.category' )
		version=$(echo $i | jq -r '.version' )
		url="https://get.mocaccino.org/mocaccino-aports/${name}-${category}-${version}.metadata.yaml"
	
		if (($(curl --silent -I $url \
		| grep -E "^HTTP" \
		| awk -F " " '{print $2}') == 200)); then
		else 
			echo "NOT available $category/$name @ $version ($url)"
			export JOB_NAME=$name-$category
			JOB_NAME=${JOB_NAME//[^a-zA-Z0-9]/}
			JOB_NAME=`echo -n $JOB_NAME | tr A-Z a-z`
			cat $template | sed "s|JOBNAME|$JOB_NAME|" | sed "s|PACKAGENAME|$category/$name@${version}|" > kube_tasks/$JOB_NAME.yaml
		fi

	done
}